<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.study.mapper.UrlRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.study.entity.UrlRelationEntity">
        <id column="relation_id" property="relationId" />
        <result column="id" property="id" />
        <result column="pid" property="pid" />
    </resultMap>

</mapper>
